<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form action="/dogs" method="POST">
  <label>Name
    <input type="text" name="dog[name]" value="<%= @dog.name %>">
  </label>
  <br>
  <label>Owner
    <input type="text" name="dog[owner]" value="<%= @dog.owner %>">
  </label>
  <br>
  <label>Breed
    <input type="text" name="dog[breed]" value="<%= @dog.breed %>">
  </label>

  <input type="submit">
</form>
