<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>


<form action="/dogs" method="POST">
  <label>Name
    <input type="text" name="dog[name]" value="<%= @dog.name %>">
  </label>
  <br>
  <label>Owner
    <select name="dog[owner_id]">
      <option>Please Select</option>
      
    </select>
  </label>
  <br>
  <label>Breed
    <input type="text" name="dog[breed_id]" value="<%= @dog.breed_id %>">
  </label>

  <input type="submit">
</form>
